<div class="container">
  <h1>Lista de Veículos</h1>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (input)="filterVehicles()" placeholder="Buscar por Placa ou Chassi" />
    <button (click)="toggleYearFilter()" class="filter-button">Filtro</button>
  </div>

  <div *ngIf="showYearFilter" class="year-filter">
    <label for="yearSelect">Filtrar por Ano:</label>
    <select id="yearSelect" [(ngModel)]="selectedYear" (change)="filterVehicles()">
      <option value="">Todos os Anos</option>
      <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
    </select>
  </div>

  <div class="table-container">
    <table *ngIf="filteredVehicles.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Placa</th>
          <th>Chassi</th>
          <th>Renavam</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of filteredVehicles">
          <td>{{ vehicle.id }}</td>
          <td>{{ vehicle.placa }}</td>
          <td>{{ vehicle.chassi }}</td>
          <td>{{ vehicle.renavam }}</td>
          <td>{{ vehicle.modelo }}</td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.ano }}</td>
          <td>
            <div class="action-buttons">
              <button (click)="editVehicle(vehicle)">Editar</button>
              <button (click)="deleteVehicle(vehicle.id)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredVehicles.length === 0" class="no-results-message">Nenhuma placa encontrada</div>
  </div>

  <!-- Botão de Gerenciamento de Veículos -->
  <div class="manage-button-container" style="margin-top: 20px;">
    <button [routerLink]="['/manage-vehicle']">Adicionar Veículo</button>
  </div>

  <!-- Formulário de Edição -->
  <div *ngIf="editingVehicle" class="edit-form">
    <h2>Editando Veículo</h2>
    <form>
      <label>Placa: <input type="text" [(ngModel)]="editingVehicle.placa" name="placa" /></label><br />
      <label>Chassi: <input type="text" [(ngModel)]="editingVehicle.chassi" name="chassi" /></label><br />
      <label>Renavam: <input type="text" [(ngModel)]="editingVehicle.renavam" name="renavam" /></label><br />
      <label>Modelo: <input type="text" [(ngModel)]="editingVehicle.modelo" name="modelo" /></label><br />
      <label>Marca: <input type="text" [(ngModel)]="editingVehicle.marca" name="marca" /></label><br />
      <label>Ano: <input type="number" [(ngModel)]="editingVehicle.ano" name="ano" /></label><br />
      <button type="button" (click)="updateVehicle()">Salvar</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>
</div>
