
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;

    font-family: 'Arial', sans-serif;

    line-height: 1.6;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: auto;
}

h1,
h2 {
    color: #333;

    text-align: center;

    margin-bottom: 20px;

}

h1 {
    font-size: 2rem;

}

h2 {
    font-size: 1.5rem;

    margin-top: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;

    margin: 20px 0;

}

th,
td {
    padding: 10px;

    text-align: left;

    border: 1px solid #ddd;

}

th {
    background-color: #007ACC;

    color: #fff;

}

tr:nth-child(even) {
    background-color: #f9f9f9;

}

tr:hover {
    background-color: #f1f1f1;

}

button {
    padding: 10px 15px;

    margin: 5px;

    border: none;

    background-color: #007ACC;

    color: #fff;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s ease;

}

button:hover {
    background-color: #005999;

}

form {
    margin-top: 20px;

}

.form-group {
    margin-bottom: 15px;

}

input[type="text"],
input[type="number"] {
    width: 100%;

    padding: 10px;

    border: 1px solid #ddd;

    border-radius: 5px;

    margin-top: 5px;

}

button[type="submit"] {
    background-color: #28a745;

    color: #fff;

    border: none;

    padding: 10px 15px;

    cursor: pointer;

    border-radius: 5px;

    transition: background-color 0.3s ease;

}

button[type="submit"]:hover {
    background-color: #218838;

}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007ACC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #005999;
}

.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-button i {
    font-size: 16px;
}

.year-filter {
    margin-top: 10px;
}

.table-container {
    margin-top: 20px;
}

.no-results-message {
    color: red;
}
.action-buttons {
    display: flex;
    gap: 5px;
  }