/* Resetando margens e padding padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    /* Cor de texto escura para contraste */
    font-family: 'Arial', sans-serif;
    /* Fonte padrão */
    line-height: 1.6;
    /* Altura da linha para melhorar a legibilidade */

}

/* Contêiner Principal */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para Títulos */
h1,
h2 {
    color: #333;
    /* Cor de texto */
    text-align: center;
    /* Centralização do texto */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

h1 {
    font-size: 2rem;
    /* Tamanho da fonte para h1 */
}

h2 {
    font-size: 1.5rem;
    /* Tamanho da fonte para h2 */
    margin-top: 20px;
    /* Espaçamento superior */
}

/* Estilo para Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    /* Remover espaçamento entre células */
    margin: 20px 0;
    /* Espaçamento vertical */
}

th,
td {
    padding: 10px;
    /* Espaçamento interno para células */
    text-align: left;
    /* Alinhamento do texto à esquerda */
    border: 1px solid #ddd;
    /* Borda cinza clara para células */
}

th {
    background-color: #007ACC;
    /* Cor de fundo para cabeçalho */
    color: #fff;
    /* Cor do texto para cabeçalho */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Fundo alternado para linhas */
}

tr:hover {
    background-color: #f1f1f1;
    /* Fundo ao passar o mouse sobre a linha */
}

/* Estilo para Botões */
button {
    padding: 10px 15px;
    /* Espaçamento interno */
    margin: 5px;
    /* Espaçamento externo */
    border: none;
    /* Remover borda padrão */
    background-color: #007ACC;
    /* Cor de fundo azul */
    color: #fff;
    /* Cor do texto branco */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Indicador de clique */
    transition: background-color 0.3s ease;
    /* Transição suave para fundo */
}

button:hover {
    background-color: #005999;
    /* Cor de fundo ao passar o mouse */
}

/* Estilo para Formulários */
form {
    margin-top: 20px;
    /* Espaçamento superior */
}

.form-group {
    margin-bottom: 15px;
    /* Espaçamento inferior entre grupos de formulário */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    /* Largura total para entradas de texto */
    padding: 10px;
    /* Espaçamento interno */
    border: 1px solid #ddd;
    /* Borda cinza clara */
    border-radius: 5px;
    /* Bordas arredondadas */
    margin-top: 5px;
    /* Espaçamento superior */
}

button[type="submit"] {
    background-color: #28a745;
    /* Verde para botões de envio */
    color: #fff;
    /* Cor do texto branco */
    border: none;
    /* Remover borda padrão */
    padding: 10px 15px;
    /* Espaçamento interno */
    cursor: pointer;
    /* Indicador de clique */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: background-color 0.3s ease;
    /* Transição suave para fundo */
}

button[type="submit"]:hover {
    background-color: #218838;
    /* Cor de fundo ao passar o mouse */
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para o link que se parece com um botão */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007ACC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #005999;
}